    <div class="container mt-3">
        <h4 class="justify-content-left font-weight-bold">Regra Anatel</h4>
        <p class="font-weight-bolder">Limites mínimos de velocidade da banda larga</p>
        <p class="text-justify ">Pelas metas estabelecidas nos regulamentos de Gestão da Qualidade dos serviços de Comunicação Multimídia (banda larga fixa) e Móvel Pessoal (banda larga móvel),
            as prestadoras deverão garantir mensalmente, em média, 80% da velocidade contratada pelos usuários. <br>
            Em outras palavras, na contratação de um plano de 10MBps, a média mensal de velocidade deve ser de, no mínimo, 8MBps. </p>
        <p class="text-justify mt-n3">A velocidade instantânea - aquela aferida pontualmente em uma medição -
            deve ser de, no mínimo, 40% do contratado, ou seja, 4MBps. Com isso, caso a prestadora entregue apenas 40% da
            velocidade contratada por vários dias,
            terá de, no restante do mês, entregar uma velocidade alta ao usuário para atingir a meta mensal de 80%.</p>
        <a href="https://www.anatel.gov.br/Portal/exibirPortalPaginaEspecialPesquisa.do?acao=&tipoConteudoHtml=1&codNoticia=35544"> Para mais informações</a>

    </div>