{% macro tabela_componente(quedas)%}
    <div class="container">
{% include 'components/date_picker.html'%}

    </div>
<table class="table table-bordered">
    <thead>
        <h2 class="text-center">Relatorio das Quedas da Internet</h2>
        <tr>
            <th scope="col"> Data da Queda </th>
            <th scope="col">Data da Volta</th>
            <th scope="col">Periodo</th>
            <th scope="col">Protocolo</th>

        </tr>

    </thead>

    <tbody>
      {% for queda in quedas.items %}
        <tr>
          <td>{{queda.queda | formatdate()}} </td>
          <td>{{queda.volta | formatdate()}}</td>
            {%if queda.periodo == None%}
          <td></td>
            {%else%}
            <td>{{queda.periodo | parser_seconds()}}</td>
            {% endif %}
            <td>
                <form action="{{url_for('index')}}" class='form'  method='post'>
                    <div class="input-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text">NºProtocolo</span>
                      </div>
                        {%if queda.protocolo == None%}
                            <input type="text"  name="protocolo" value="" class="form-control protocolo ">
                        {%else%}
                            <input type="text"  name="protocolo" value="{{queda.protocolo}}" class="form-control protocolo ">
                        {% endif %}
                            <input type="text"  name="id" value="{{queda.id}}" class="form-control d-none">
                            <button class="btn btn-primary salvar disable  ml-1" type="submit" value="submit" id="save"><i class="fa fa-save fa-sm"></i></button>
                    </div>
                </form>
            </td>
        </tr>
      {% endfor %}
    </tbody>

    </table>


{% endmacro%}