<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/all.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    {% block style %} {% endblock %}
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    {% include 'components/nav.html' %}
    {% block content%}
    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{url_for('static', filename='js/jquery-3.5.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
  <script> {% block script %} {% endblock %}</script>
  </body>
</html>