{% extends 'base.html' %}
{% block title%}Configuração{% endblock %}

{% block content%}
<div class="container text-center" >
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                <span>{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
</div>
<div class="container text-center align-items-center ">
    <h1>Configurações <i class="fas ml-3 fa-puzzle-piece"></i></h1>
    <form action="{{url_for('config')}}" method="post">
        <div class="container align-items-center w-75"  >
            <div class="form-group text-center " style="width:801px">
                <div class="row  border bg-primary pb-4 align-items-center">
                    <div class="col-3 border-right mt-4">
                        <h3 class="text-justify text-light">VELOCIDADE:</h3>
                    </div>
                    <div class=" col-4 input-group mt-4" >
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Download</span>
                          </div>
                          <input type="text" class="form-control" placeholder="30" name="down" aria-label="Amount (to the nearest dollar)">
                          <div class="input-group-append">
                            <span class="input-group-text">MB</span>
                          </div>
                        </div>
                      </div>
                     <div class=" col-4 input-group mt-4" >
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Upload</span>
                          </div>
                          <input type="text" class="form-control" placeholder="30" name="up" aria-label="Amount (to the nearest dollar)">
                          <div class="input-group-append">
                            <span class="input-group-text">MB</span>
                          </div>
                        </div>
                      </div>

                 </div>
            </div>
        </div>
            <div class="container w-75 mt-n3" >
                <div class="form-group d-flex" >
                    <div class="row border bg-dark pb-4 align-items-center " style="width:831px">
                        <div class="col-3 d-flex align-items-center border-right mt-3 mr-n5 pl-n2" >
                            <h3 class="text-light">INTERNET: </h3>
                        </div>
                        <div class="col-4 ml-5">
                            <div class="input-group mt-3">
                                 <div class="input-group-prepend">
                                <span class="input-group-text">Operadora</span>
                              </div>
                                <select class="form-control"name="operadora" id="exampleFormControlSelect1">
                                  <option>Tim Fibra/Live</option>
                                  <option>Vivo Fibra</option>
                                  <option>Oi Fibra</option>
                                  <option>Claro Net</option>
                                  <option>VigWeb</option>
                                  <option>Outras</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="input-group mt-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text">Valor</span>
                              </div>
                              <input type="text" class="form-control" placeholder="150"  name="valor" aria-label="Amount (to the nearest dollar)">
                              <div class="input-group-append">
                                <span class="input-group-text">.00</span>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <button type="submit" class="btn btn-success">Enviar</button>
    </form>
</div>
{% endblock %}