{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% from 'components/tabela_registro.html' import tabela_componente %}
{% from 'components/pagination.html' import page_view %}


{% block content %}

<div class="container text-center">
    <div class="d-flex justify-content-center   align-middle">
        {% if status == True %}
            <h4 class="text-success text-center pr-5">Você está conectado à Internet</h4>
        {% else %}
            <h4 class="text-danger text-center pr-5">Sem conexão com a internet </h4>
        {% endif %}
            <a href="{{url_for('index', page_num=1)}}" class="h-25 text-center" data-toggle="tooltip" data-placement="top" title="Recarregar"><i class="fa fa-redo"></i></a>

    </div>
    {{tabela_componente(quedas)}}
    <div class="container text-center">
        {{page_view(quedas, 'index')}}
    </div>
</div>


{% endblock %}

{% block script %}




{% endblock %}


